body {
background-color: #441E13;
color: white;
}

div {
  outline: 1px solid yellow;
}

.logo {

  color: white;
  width: 195px;
  font-weight: bold;
  font-size: 2.5rem;
  float: left;
}


.slogan {

color: #a37b71;
  width: 380px;
  float: left;
  font-family: sans-serif;
  font-size: 0.9rem;
  margin-top: 18px;
}

.logocontainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.nav {
  background-color: rgba(0, 0, 0, 0.25);
  height: 62px;
  margin-left: auto;
  margin-right: auto;
  width: 920px;
}

.nav ol {
  padding: 18px 10px;
}
.nav li {
    border-right: 1px solid #d4b364;
    display: block;
    float: left;
    padding: 6px 20px;
    font-family: sans-serif;
  }

.nav li{ last-child
 border-right: none}

 .about{ last-child
   border-right: none;
   background-color: rgba(138,168,132, 1);
   font-size: 5.0rem;
   height: 210px;
   font-size: sans-serif;
   margin-top: 62px;
   text-align: inherit;

 }
